<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="'Beheer '+${course.getNaam()}">Management</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="all" href="/css/default.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="/css/tasks.css"/>
</head>
<body>
<header></header>
<div id="sidebar">
    <a href="/"><img id="logo" alt="Babili" th:src="'/images/babiligroen300.png'"></a>
    <h1>Navigatie</h1>
    <nav id="navbar">
        <a class="navbarItem btn" href="/">
            <i class="material-icons-round md-small md-dark">home</i>
            <span class="navbarName">Startpagina</span>
        </a>
        <a class="navbarItem btn active" sec:authorize="hasAuthority('STUDENT')" href="/user/overview-tasks">
            <i class="material-icons-round md-small md-dark">format_list_bulleted</i>
            <span class="navbarName">Opdrachten</span>
        </a>
        <a class="navbarItem btn active" sec:authorize="hasAuthority('TEACHER')" href="/user/overview-tasks">
            <i class="material-icons-round md-small md-dark">format_list_bulleted</i>
            <span class="navbarName">Cursussen</span>
        </a>
        <a class="navbarItem btn">
            <i class="material-icons-round md-small md-dark">person</i>
            <span class="navbarName">Mijn account</span>
        </a>
        <a class="navbarItem btn" href="/user/logout">
            <i class="material-icons-round md-small md-dark">exit_to_app</i>
            <span class="navbarName">Afmelden</span>
        </a>
    </nav>
</div>
<main sec:authorize="hasAuthority('TEACHER')">
    <h1 th:text="'Studenten uitschrijven van '+${course.getNaam()}">schrijf studenten uit</h1>
    <div th:if="${availableStudents != null && !availableStudents.isEmpty()}">
        <form id="formAddStudents">
            <div class="form-group">
                <label for="studentSelect">aangemelde cursisten</label>
                <select multiple class="form-control" id="studentSelect" name="selectedStudents">
                    <option th:each="student:${availableStudents}" th:value="${student.getId()}" th:text="${student.getName()}">1</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Verwijder</button>
        </form>
    </div>
    <div th:unless="${availableStudents != null || !availableStudents.isEmpty()}">
        <p>Er zijn geen studenten die uitgeschreven kunnen worden.</p>
    </div>
    <div th:if="${addedStudents != null && !addedStudents.isEmpty()}">
        <p>De volgende student(en) werden uitgeschreven:</p>
        <ul th:each="student:${addedStudents}">
            <li th:text="${student.getName()}"></li>
        </ul>
    </div>
    <div class="mt-3">
        <a class="btn btn-primary" th:href="'/user/course/'+${course.id}+'/management'">Cursus overzicht</a>
    </div>
</main>
<footer th:replace="fragments/footer.html :: footer"></footer>
</body>
</html>