<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<form>
    <label>
        username
        <input type="text">
    </label>
    <label>
        password
        <input type="password">
    </label>
    <label>
        nickname
        <input type="text">
    </label>
    <input type="submit">
</form>
</body>
</html>