<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registreren als docent</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="all" href="/css/default.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="/css/startpages.css"/>
    <!--link rel="stylesheet" type="text/css" media="all" href="/css/testing.css"/-->
</head>
<body>
<header></header>
<main>
    <a href="/"><img id="logo" class="logo" th:src="'../images/babiligroen300.png'" alt="Babili logo"></a>
    <h1 class="title">Registreren als docent</h1>
    <form id="formRegister">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputFirstName">Voornaam</label>
                <input type="email" class="form-control" id="inputFirstName">
            </div>
            <div class="form-group col-md-6">
                <label for="inputLastName">Achternaam</label>
                <input type="email" class="form-control" id="inputLastName">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail">E-mail</label>
            <input type="email" class="form-control" id="inputEmail">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputPassword1">Paswoord</label>
                <input type="password" class="form-control" id="inputPassword1" placeholder="••••••••">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword2">Typ password opnieuw</label>
                <input type="password" class="form-control" id="inputPassword2" placeholder="••••••••">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputStraat">Straat</label>
                <input type="text" class="form-control" id="inputStraat" placeholder="Kruidstraat">
            </div>
            <div class="form-group col-md-6">
                <label for="inputHuisnummer">Huisnummer</label>
                <input type="text" class="form-control" id="inputHuisnummer" placeholder="12">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputPostcode">Postcode</label>
                <input type="number" class="form-control" id="inputPostcode" placeholder="2800" maxlength="4">
            </div>
            <div class="form-group col-md-6">
                <label for="inputGemeente">Gemeente</label>
                <input type="text" class="form-control" id="inputGemeente" placeholder="Mechelen">
            </div>
        </div>
        <div class="form-group">
            <label for="inputCity">Provincie</label>
            <input type="text" class="form-control" id="inputCity" placeholder="Antwerpen">
        </div>
        <button type="submit" class="btn btn-primary">Registreren</button>
    </form>
</main>
<footer th:replace="fragments/footer.html :: footer"></footer>
</body>
</html>