body{
    display: grid;
    grid-template-columns: [start] 100% [end] !important;
}

header{
    grid-column: start / end !important;
}

main{
    grid-column: start / end !important;
    text-align: center;
}

form{
    margin: auto;
    text-align: left;
}

footer{
    grid-column: start / end !important;
}

#logo{
    width: 100%;
}

.tile{
    border: var(--color-logo-dark-transparant) solid 10px;
    border-radius: 15px;
    margin: 10px;
    text-align: center;
    display: inline-block;
    padding: 5px;
}

.tile:hover{
    border-color: var(--color-logo-dark);
}

.tile *{
    display: block;
    margin: 10px;
}

a{
    color: var(--color-logo-dark);
}

a.tile{
    text-decoration: none;
}

a:hover{
    color: var(--color-logo-dark);
}

@media screen and (min-width: 576px) {
    form{
        width: 80%;
    }

    form#formRegister{
        max-width: 800px;
    }

    form#formLogin{
        max-width: 500px;
    }
}