.task{
    display: flex;
    margin-bottom: 10px;
}

a.task{
    color: var(--color-logo-dark);
}

a.task:hover{
    text-decoration: none;
}

#taskName{
    width: 60%;
}

.task-state{
    align-self: center;
    margin-right: 5px;
}

.task-card{
    border: var(--color-logo-dark) solid 5px;
    background-color: white;
    min-height: 60px;
    margin-bottom: 5px;
    display: flex;
    padding: 10px;
}

.task-card:hover{
    border-color: var(--color-logo-dark-transparant);
}

.task-card :first-child{
    margin-right: 10px;
}

.task-card .task-number{
    text-align: center;
    align-self: center;
    font-weight: bold;
}

.task-card .task-content{
    text-align: justify;
    align-self: center;
}

.line{
    margin-top: 10px;
}

.textColor{
    color: initial;
}

.large{
    font-size: 150%;
    margin-top: 15px;
    color: var(--color-logo-dark);
}