<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1 th:text="${name}">name</h1>
<div th:if="${login == 'nobody'}">
    <a href="/login">login</a>
</div>
<div th:unless="${login == 'nobody'}">
    <p>hallo <span th:text="${login}"></span></p>
    <a href="/logout">logout</a>
</div>
<p sec:authentication="name">naam ingelogde persoon</p>
<p>niet ingelogde text</p>
<p sec:authorize="isAuthenticated()">JE BENT INGELOGD</p>
<p sec:authorize="hasAuthority('ADMIN')">admin text</p>
<p sec:authorize="hasAuthority('USER')">user text</p>
</body>
</html>