<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nieuwe cursus aanmaken</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="all" href="/css/default.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="/css/tasks.css"/>
    <!--link rel="stylesheet" type="text/css" media="all" href="/css/testing.css"/-->
</head>
<body>
<header></header>
<div id="sidebar">
    <a href="/"><img id="logo" alt="Babili" th:src="'../images/babiligroen300.png'"></a>
    <h1>Navigatie</h1>
    <nav id="navbar">
        <a class="navbarItem btn" href="/">
            <i class="material-icons-round md-small md-dark">home</i>
            <span class="navbarName">Startpagina</span>
        </a>
        <a class="navbarItem btn active">
            <i class="material-icons-round md-small md-dark">format_list_bulleted</i>
            <span class="navbarName">Opdrachten</span>
        </a>
        <a class="navbarItem btn">
            <i class="material-icons-round md-small md-dark">person</i>
            <span class="navbarName">Mijn account</span>
        </a>
        <a class="navbarItem btn" href="/user/logout">
            <i class="material-icons-round md-small md-dark">exit_to_app</i>
            <span class="navbarName">Afmelden</span>
        </a>
    </nav>
</div>
<main>
    <h1>Nieuwe cursus aanmaken</h1>

<div class ="container-fluid">
    <div class="row">
        <div class="col">
            <form th:action="@{'/new-course'}" method="post">
                <div class="filters">
                    <div class="filterrow">
                        <div class="row">
                            <div class="col-2">
                                <label for="naam">Naam van de cursus:</label>
                            </div>
                            <div class="col">
                                <input type="text" id="naam" name="naam" placeholder="Vul hier de naam van de cursus in">
                            </div>
                        </div>
                    </div>
                    <div class="filterrow">
                        <div class="row">
                            <div class="col-2">
                                <label for="beschrijving">Beschrijving van de cursus:</label>
                            </div>
                            <div class="col">
                                <textarea class="form-control" id="beschrijving" name="beschrijving" rows="5" placeholder="Geef hier een beschrijving van de cursus"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="filterrow">
                        <input type="submit" value="Curus aanmaken">
                    </div>
                    <div class="filterrow">
                        <input type="reset" value="Cancel">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</main>
<footer th:replace="fragments/footer.html :: footer"></footer>
</body>
</html>