<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Opdracht 2</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="all" href="/css/default.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="/css/tasks.css"/>
    <!--link rel="stylesheet" type="text/css" media="all" href="/css/testing.css"/-->
</head>
<body>
<header></header>
<div id="sidebar">
    <a href="/"><img id="logo" alt="Babili" th:src="'../../images/babiligroen300.png'"></a>
    <h1>Navigatie</h1>
    <nav id="navbar">
        <a class="navbarItem btn" href="/">
            <i class="material-icons-round md-small md-dark">home</i>
            <span class="navbarName">Startpagina</span>
        </a>
        <a class="navbarItem btn active" href="/user/overview-tasks">
            <i class="material-icons-round md-small md-dark">format_list_bulleted</i>
            <span class="navbarName">Opdrachten</span>
        </a>
        <a class="navbarItem btn">
            <i class="material-icons-round md-small md-dark">person</i>
            <span class="navbarName">Mijn account</span>
        </a>
        <a class="navbarItem btn">
            <i class="material-icons-round md-small md-dark">exit_to_app</i>
            <span class="navbarName">Afmelden</span>
        </a>
    </nav>
</div>
<main>
    <a class="tile-icon float-right" th:href="'/user/startExample/'+${opdracht.getId()}">
        <i class="tile-icon material-icons-round md-medium md-dark">help</i>
    </a>
    <h1 id="taskName">Opdracht</h1>
    <h2 th:text="${opdracht.getTitel()}"></h2>
    <div class="task">
        <div class="task-card"><span class="task-number">02</span><span class="task-content"
                                                                        th:text="${opdracht.getOpgave()}"></span>
        </div>
    </div>
    <a id="record" class="tile" th:href="'start/'+${opdracht.getId()}">
        <div class="tile-icon">
            <i class="tile-icon material-icons-round md-medium md-dark">mic</i>
        </div>
        <span>Opnemen</span>
    </a>
    <a id="stopRecording" class="tile" th:href="'stop/'+${opdracht.getId()}">
        <div class="tile-icon">
            <i class="tile-icon material-icons-round md-medium md-dark">mic_off</i>
        </div>
        <span>Stop opname</span>
    </a>
    <div th:if="${taak!=null}">
        <span th:text="${taak}"></span>
<!--        <a class="tile-icon" th:href="'/user/listenRec/'+${opdracht.getId()}+'/opname'">-->
            <audio controls>
                <source th:src="${audioPath}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
<!--        </a>-->
    </div>
    <br>
    <a th:href="'/user/inlevering/'+${opdracht.getId()}"><input id="hand-in" class="btn btn-primary-outline"
                                                                type="submit" value="Inleveren"></a>
</main>
<footer th:replace="fragments/footer.html :: footer"></footer>
</body>
</html>